@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   
*,
*::before,
*::after {
  box-sizing: border-box;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-image: url('images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
      background-size: cover;
}

h1 {
    color: white;
    font-size: 45px;
    max-width: 60%;
    line-height: 110%;
}

p {
    max-width: 60%;
    font-size: 16px;
    color: white;
    font-weight: 500;
}


.introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    text-align: left;
}

.details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    margin-left: 50px;
}

.form {
    background-color: white;
    padding: 40px ;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 550px;
    box-shadow: 0 7px hsla(243, 17%, 22%, 0.281);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
        font-weight: 600;
    width: 100%;
}

#trial-info {
    background-color: hsl(248, 32%, 49%);
    box-shadow: 0 7px hsla(243, 17%, 22%, 0.281);
    border-radius: 10px;
    width: 550px;
    padding: 15px 40px;
    text-align: center;
    font-weight: 300;
    max-width: 100%;
}

span {
    font-weight: 600;
}

#submit {
    padding: 15px ;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0px 3px hsl(154, 62%, 36%);
    border: none;
        border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
}

#submit:active {
    background-color: hsl(154, 59%, 51%);
    box-shadow: none;
}

#submit:hover {
    background-color: hsl(154, 70%, 45%);
}

input:focus {
    border-color: black;
    outline: none;
}

#TOS {
    font-size: 12px;
    max-width: 100%;
    color: hsl(246, 25%, 77%);
     text-align: center;
    font-size: 10px;
}

#TOS a {
    color: hsl(0, 100%, 74%) ;
    text-decoration: none;
    font-weight: 800;
}

.error-message {
    color: red;
    text-align: right;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    display: block;
}

.hidden {
    display: none;
}

   .attribution {
transform: translateX(-50%);
left: 50%; 
font-size: 11px; 
text-align: center;  
bottom: 0px; 
position: fixed; 
margin: 0;}

    .attribution a { color: hsl(228, 45%, 44%); }



    @media (max-width: 600px) {
        main {
             flex-direction: column;
        }
            .introduction {
            align-items: center;
            text-align: center;

        }
        .details {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 0px;
        }
        .form {
             background-color: white;
             padding: 20px ;
            padding-bottom: 10px;
            width: 350px;
        } 
        #trial-info {
            width: 350px;
        }
        p {
    max-width: 80%;
}
h1 {
    font-size: 30px;
    max-width: 70%;
    line-height: 110%;
}
#TOS {
    max-width: 80%;
    margin: 10px auto;
    text-align: center;
}
.attribution {
        position: static;
        margin: 20px auto 0;
        left: auto;
        bottom: auto;
        transform: none;
        text-align: center;
        width: 100%;
    }

    }