@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-image: url('images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
      background-size: cover;
}

h1 {
    color: white;
    font-size: 45px;
    max-width: 60%;
    line-height: 110%;
}

p {
    max-width: 60%;
    font-size: 16px;
    color: white;
    font-weight: 500;
}


.introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    text-align: left;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.form {
    background-color: white;
    padding: 50px ;
    border-radius: 15px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
        font-weight: 600;

}

#trial-info {
    background-color: hsl(248, 32%, 49%);
    box-shadow: 0 7px hsla(243, 17%, 22%, 0.281);
        border-radius: 10px;
    width: 400px;
    padding: 15px 50px;
    text-align: center;
        font-weight: 300;

}

span {
    font-weight: 600;
}

#submit {
    padding: 15px ;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0px 3px hsl(154, 62%, 36%);
    border: 1px solid hsl(154, 62%, 36%);
        border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

#TOS {
    font-size: 12px;
    max-width: 100%;
    color: hsl(246, 25%, 77%);
     text-align: center;
    font-size: 10px;
}

#TOS a {
    color: hsl(0, 100%, 74%) ;
    text-decoration: none;
    font-weight: 800;
   
}


   .attribution {
transform: translateX(-50%);
left: 50%; 
font-size: 11px; 
text-align: center;  
bottom: 0px; 
position: fixed; 
margin: 0;}

    .attribution a { color: hsl(228, 45%, 44%); }